.fail {
    color: red;
    background-color: lightgray;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success {
    color: green;
    background-color: lightgray;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

h2 {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}